@import url(variables.css);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  width: 1440px;
  height: 1131px;
  justify-self: center;
}

.content__top{
  width: 1440px;
  height: 813px;
  background: var(--color-5);
  display: flex;
  flex-direction: row;
  gap: 72px;

  img{
    width: 690.11px;
    height: 671px;
    margin-top: 86px;
  }
}

.text__content-top{
  margin-top: 181px;
  margin-left: 131px;
  width: 483px;
  height: 426px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  h1{
    width: 422px;
    height: 188px;
    font-family: "Avenir-Heavy";
    font-size: 72px;
    color: var(--color-2);
  }
  p{
    width: 470px;
    height: 132px;
    font-family: "Avenir-Roman";
    font-size: 24px;
    color: var(--color-2);
  }
  button{
    width: 288px;
    height: 66px;
    font-family: "Avenir-Roman";
    font-size: 24px;
    background: var(--color-2);
    border-radius: 36px;
    color: var(--color-3);
  }
}

.content__bottom{
  display: flex;
  flex-direction: row;
  gap: 80px;
  margin-left: 115px;
}

.images{
  width: 648px;
  height: 369px;
  position: relative;
  bottom: 115px;
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.text__bottom{
  width: 483px;
  height: 237px;
  margin-top: 17px;
  h3{
    width: 108px;
    height: 33px;
    margin-top: 16px;
    font-family: "Avenir-Medium";
    font-size: 24px;
    color: var(--color-2);
  }
  p{
    width: 483px;
    height: 60px;
    color: var(--color-4);
    font-family: "Avenir-Roman";
    font-size: 22px;

  }
}

.text__bottom div:first-child{
  width: 52px;
  height: 6px;
  background: var(--color-2);
}

.images__bottom {
  width: 463px;
  height: 100px;
  display: flex;
  flex-direction: row;
  gap: 21px;
  margin-top: 10px;

}