:root{
    --color-1: #252525;
    --color-2: #FFFFFF;
    --color-3: hsla(0, 0%, 15%, 0.7);
    --color-3: hsla(0, 0%, 15%, 0.8);
    --color-3: #F2F2F2;


}
@font-face {
    font-family: "AvenirLTStd-Heavy";
    src: url(../storage/font/AvenirLTStd-Heavy.otf);
}
@font-face {
    font-family: "AvenirLTStd-Roman";
    src: url(../storage/font/AvenirLTStd-Roman.otf);
}
@font-face {
    font-family: "Poppins-Regular";
    src: url(../storage/font/Poppins-Regular.ttf);
}
@font-face {
    font-family: "Poppins-SemiBold";
    src: url(../storage/font/Poppins-SemiBold.ttf);
}
